@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #fafafa;
  --accent: #e11d48; /* Valorant-ish Red */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Custom scrollbar for a sleek look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #18181b;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
